h1 {
  font-size: 3.6rem;
}
.spacer-20 {
  padding-top: 20px;
}
.spacer-40 {
  padding-top: 40px;
}
.spacer-60 {
  padding-top: 60px;
}
.center-column {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.bg {
  /* The image used */
  background-image: url("../images/hero-image-pixelated.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: 120px 20%;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font: 100% 'Press Start 2P', 'Roboto', cursive;
  color: #fff;
  padding: auto 15%;
  overflow-x: hidden;
  min-width: 400px;
}
header {
  height: auto;
  background-color: #534cff;
  color: #fff;
  border: 3px solid #000;
}
header h1 {
  text-align: left;
  color: white;
  padding: 25px;
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 0;
  line-height: 0;
}
header .logo {
  padding-top: 20px;
}
.language-select {
  padding-top: 60px;
  color: #fff;
  font-size: 1rem;
}
.nes-select {
  width: 90%;
}
nav {
  width: 100%;
  height: 47px;
  background-color: #48fcfd;
  font-size: 12px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li::first-letter {
  text-decoration: underline;
  border-bottom: 3px solid #000;
}
nav li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  background-color: #ff524f;
  color: #fff;
  text-decoration: none;
}
nav .active {
  background-color: #4caf50;
}
.quotesWindow {
  padding: 10px 25px 25px 25px;
  line-height: 1.85;
}
.quote-wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}
blockquote {
  background: transparent;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 80%;
  max-width: 385px;
  line-height: 1.8;
}
.quote-shadow {
  border: solid 2px;
  box-shadow: 10px 10px 0 0 #48fcfd;
}
.panel {
  display: block;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.panel h5 {
  text-align: center;
  padding: 25px 15px 15px 15px;
  border-right: none;
  border-left: none;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.panel.black {
  height: auto;
  width: 100%;
  min-height: 200px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.panel.black h5 {
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
}
.panel.white {
  height: 100%;
  min-height: 200px;
  color: #000;
  background-color: #fff;
}
.panel.white h5 {
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000;
}
.ms-dos-table table {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
}
.ms-dos-table th {
  border: 1px solid black;
  border-bottom: 1px solid black;
}
.ms-dos-table tbody tr:first-child td {
  background: #48fcfd;
}
.ms-dos-table tr {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.ms-dos-table td {
  border-bottom: 1px solid black;
}
.ms-dos-table thead {
  text-align: center;
}
.section-title {
  padding-bottom: 20px;
}
.divider {
  background-image: url("../images/checkers.png");
  background-repeat: repeat-x;
  height: 24px;
}
footer {
  width: 100vw;
  background-color: #534cff;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  font-size: 0.25em;
}
footer nav {
  background-color: #534cff;
  margin-top: 0;
  border: 0;
  color: #fff;
}
footer nav a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}
footer nav a:hover {
  background-color: #111;
  color: #fff;
}
/** MS DOS ITEMS **/
.collapse-icn {
  padding-left: 15px;
}
.down-icn {
  padding-right: 15px;
}
.ms-file-title {
  background-color: #534cff;
  color: white;
  line-height: 1.85;
}
.gallery-description {
  text-align: left;
  line-height: 1.85;
  padding: 20px;
}
.window-cta-btn {
  padding-bottom: 50px;
  border: 0;
}
.teaser-content {
  text-align: left;
}
.teaser-content p {
  line-height: 2;
  font-size: 1em;
}
.dropbtn {
  background-color: #48fcfd;
  border: none;
  color: #000;
}
.dropbtn::first-letter {
  text-decoration: underline;
  border-bottom: 3px solid #000;
}
.dropdown {
  position: relative;
  display: inline-block;
  left: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #48fcfd;
  min-width: 255px;
  z-index: 1;
  list-style-type: none;
  border: 2px solid #000;
}
.dropdown-content ul li {
  padding-top: 10px;
  list-style-type: none;
  line-height: 1.8;
  border-bottom: 1px solid #000;
}
.dropdown-content a {
  padding: 10px 0;
  margin: 20px;
  white-space: nowrap;
}
.dropdown-content a:hover {
  background-color: #ff524f;
  text-decoration: none;
  color: #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #ff524f;
}
h3 {
  width: 160px;
  height: 41px;
  background-color: black;
  position: relative;
  top: -39px;
  white-space: nowrap;
  font-size: 15px;
  padding: 10px;
  color: #fff;
}
.nes-container.with-title > .title {
  padding: 2rem;
  width: auto;
  margin-top: -4rem;
  background-color: #000;
}
.nes-container.is-dark {
  margin: 0;
  background-color: #000;
}
.nes-select {
  margin: 5px 0;
}
button {
  background-color: transparent;
  border: none;
}
figure {
  margin: 0;
}
@media only screen and (max-width: 700px) {
  nav li {
    font-size: 10px;
    padding: 0;
  }
}
